@use './variaveis' as *;

.menu {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 800px;

  background: rgba(0, 0, 0, 0.7);
  border-radius: 1rem;
}

.menu ul {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
}

.menu li {
  text-align: center;
}

.menu figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  color: white;
  font-size: 1rem;
}

.menu img {
  width: 60px;
  height: 60px;
  transition: all .5s ease-in-out;
}

.menu img:hover {
  filter: brightness(1.2);
  transform: scale(1.1);
  cursor: pointer;
}


