@use './variaveis' as *;

dialog.modal {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-height: 80%;
  background: rgba(0,0,0,0.8);
  border-radius: 0.3rem;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);

  z-index: 1000;

  .titulo {
    margin-bottom: 2rem;
    color: $destaque-rosa;
    font-size: 1.6rem;
  }

  p {
    margin-bottom: 1.5rem;
    color: $fundo;
    font-size: 1rem;
    line-height: 1.5;
  }

  .caixaTexto {
    width: 80%;
    padding: 0.6rem;
    margin-bottom: 1rem;
    border-radius: 6px;
    border: 2px solid $destaque-rosa;
    font-size: 1.2rem;
    background: $claro;
    color: $fundo;
    
  }

  .modal-botoes {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;

    .buttonModal {
      background-color: transparent;
      border: none;
      color: #dbdbdb;
    }
  }

  .resultado {
    margin-top: 1.5rem;
  }

  img {
    margin-top: 1rem;
    width: 100px;
  }
}
